<link rel="stylesheet" href="/css/authenticate.css">
<h1 style="font-family: system-ui;">
    Please authenticate user id by clicking on the link sent to your email.
</h1>

<div class="msg">
    <span>N</span>
    <span>O</span>
    <span>D</span>
    <span>E</span>
    <span>J</span>
    <span>S</span>
</div>


