<link rel="stylesheet" href="/css/signin.css">
<div id="container">
    <div class="colordiv">
        <h2>Node Js</h2>
        <h2>Authentication</h2>
    </div>
    <h4>Forget Password</h4>
    <form action="/forgetPassword" method="POST">
        <label for="email">Please enter your registered email <br> to send reset password link.</label>
        <input type="email" name="email" id="input-email" required>

        <button type="submit">Send Link</button>
    </form>
    <div class="buttons">
        <a href="/">Sign In </a>
        <a href="/signUp">Sign Up</a>
    </div>
</div>