<h1>Hello <%= token.user.name %></h1>
<hr>
<p>
    Please click on the following link to authenticate your email Id : <br>
</p>
<a href="http://localhost:<%= process.env.PORT %>/authenticateUser/<%= token._id %>">
    NodeJS.Authenticate.user/?jfaoiiy8qkhhsdg=947239jhgd/S%20S560#234$%/register
</a>
