<h1>Hello <%= token.user.name %></h1>
<hr>
<p>
    Please click on the following link to reset your password : <br>
</p>
<a href="<%= process.env.LINK_URL%>/resetPassword/<%= token._id %>">
    NodeJS.Forget.user/?asdfsdf=947sfsddaff39jhgdraehfsdaf/S%20asdfS560#2sa34$%/forgetUser
</a>
